:root{
    --lt-gray: #eaeaea;
    --med-gray: #555;
    --dk-gray: #222;
    --wht: #fff;
}

*{
    font-family: sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
    color: var(--dk-gray);
}

body{
    margin: 0;
    background-color: var(--lt-gray);
}

header, main, footer{
    width: 100%;
    max-width: calc(900px - 32px);
    margin: 0 auto;
    background-color: var(--wht);
    padding: 32px 16px;
}

h1, h2, footer{
    text-align: center;
}

p{
    width: 100%;
    max-width: 65ch;
    margin: 1rem auto;
}

img{
    display: block;
    padding: 16px;
    max-width: 90%;
    height: auto;
    margin: 0 auto;
}